
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #131e3a;
    color: #fff;
    height: 100vh;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    text-align: center;
    font-size: 6rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e5122a;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.logo {
    width: 150px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 40px;
}
.menu a {
    text-transform: uppercase;
}
.menu a:hover {
    text-shadow: 0px 0px 5px #e5122a;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.img-right {
    width: 100%
}
.left {
    display: grid;
    gap: 30px;
}
.left img {
    margin: auto;
}
.assinatura {
    display: flex;
    gap: 30px;
    align-items: center;
}
.assinatura span:first-child a img{
    filter: invert(100%);
}
.assinatura span:first-child a{
    display: flex;
    gap: 10px;
    align-items: center;
}
.assinatura span:last-child{
    border: 1px solid white;
    border-radius: 35px;
    padding: 20px 30px;
}
