body {
    margin: 0;
    background: #ccc;
}

.button-creator {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    padding: 30px;
}

.controles {
    font-family: 'IMB Plex Mono', monospace;
    font-size: .875rem;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.css {
    font-family: 'IMB Plex Mono', monospace;
    color: #333;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.css span {
    display: block;
    margin-bottom: .5rem;
}